
*{
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
}

body{
    background-color: aqua;
   
}


.container{
    text-align: center;
    height: 100px;
    width: 500px;
    background-color: white;
    position: absolute;
    top: 40%;
    left: 30%;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 10px orange;
    font-family: 'Anton', sans-serif;
    font-family: 'Island Moments', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    padding: 40px;
    transform: translate(-50%,-50%);
    block-size: auto;
}

.search{
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.25em;
    



}

#searchBtn{
    font-size: medium;
    color:black;
    background-color: aqua;
    box-shadow: 1px 1px 1px 1px black;
    border-radius: 2px;
    
}

#countrySearch{
     border: none;
     border-bottom: 2px solid orange;
     color: black;
}

#result{
    margin-top: 1.25em;
}

.container .flagImg{
    display: block;
    width: 45%;
    margin-left: 115px
    ;
    
}

.container .cap{
    margin-top: 10px;
    font-size: small;
    letter-spacing: 2px;
  
    

    
    
}
h4{ display: inline;}
.container .cont{
    font-size: small;
    ;
  
}


#searchBtn:hover{
    background-color: orange;
    cursor: pointer;
}



